<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="icon" href="data:,">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans|Proza+Libre&display=swap" rel="stylesheet">
        <link href="/static/css/app.css" rel="stylesheet">
        <link href="/static/css/hilite.css" rel="stylesheet">
        {% block head %}
        {% endblock %}
    </head>
    <body>
        <header class="Header">
            <div class="Header_section Header_section--left">
                <a href="/" class="Header_title">
                    Maggisk.dev
                    <!-- Ma<span>.</span>gnus<span>.is</span> -->
                </a>
                <a href="/" class="Header_summary">
                    <span class="Header_code">{{ "|>" }} </span>
                    Ramblings of a software developer
                </a>
            </div>
            <div class="Header_section Header_section--center">
                <div>
                    <a href="/" class="Header_tab{% if tab == 'blog' %} Header_tab--selected{% endif %}">Ramblings</a>
                    <a href="/projects/" class="Header_tab{% if tab == 'project' %} Header_tab--selected{% endif %}">Projects</a>
                </div>
            </div>
            <div class="Header_section Header_section--right">
            </div>
        </header>
        <main class="Main_content">
            {% block main %}
            {% endblock %}
        </main>

        <script src="/static/js/instantclick.min.js"></script>
        <script data-no-instant>InstantClick.init();</script>
<script type="text/javascript">
var sc_project=12344077;
var sc_invisible=1;
var sc_security="afdf2870";
var sc_https=1;
</script>
<script type="text/javascript"
src="https://www.statcounter.com/counter/counter.js" async></script>
<noscript><div class="statcounter"><a title=""
href="https://statcounter.com/" target="_blank"><img class="statcounter"
src="https://c.statcounter.com/12344077/0/afdf2870/1/" alt=""></a></div></noscript>
    </body>
</html>
